@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100;1,300;1,500;1,900&display=swap');
@font-face {
    font-family: "FontAwesome";
    src: url("fontawesome-webfont.woff");
  }
*{
    padding: 0;
    margin: 0;;
    box-sizing: border-box;
}
/*
Inicio header
*/
.containernav{
    background-color: #222222;
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
    
}
nav .containernav .listaInicial {
    display: inline;
    position: absolute;
    right: 180px;
}

nav .containernav .itemsNav {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    display: inline; 
    position: relative;
    margin-left:    10px;
}
h5 {
    padding-left: 45px ;
}
.listaInicial li {
   color: #fff;
   position:relative;
   left: 100px;   
   padding-left: 15px;
}

.containerMenu {
    background-color:#F0A83E;
    width: 100%;
    height: 90px;
}
.logoNav {
  padding-top: 30px;
  padding-left: 45px;
  width: 250px;
}
.menuNav {
   display: inline;
   position: absolute;
   right: 45px;
   top: 57px;
   list-style: none;
}
.menuNav li a {
    font-family: 'Roboto', sans-serif;
    font-weight:300;    
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline;
    margin-top: 35px;
}
.menuNav li {
    list-style: none;
    padding-left: 50px;
    color: #fff;
    font-size: 20px; 
    display: inline;
}
.menuNav li a:hover {
    color: #dbdada;
}
.menuNav li ::before {
    font-family: "FontAwesome", sans-serif;
    content: "\f1b0";
}

/* 
inicio main 
*/
.bannerMain{
    background-color: #57ddaacb;
    background-image:url("../img/bannerPrincipal.png");
    background-size: 100% 109%;
    background-position: 100% 0;
    height: 500px;
    position: relative;
    text-align: center;
}
.bannerMain h1{
    font-family:'Roboto', sans-serif; 
    font-size: 50px;
    font-weight: 300;
    background-color: #ffffff;
    color: #3C2313;
    position: absolute;
    border-radius: 7px;
    width: 650px;
    height: 86px;
    right: 25px;
    top: 150px;
    padding-top: 15px;
}
.bannerMain h4{
    font-family:'Roboto', sans-serif; 
    font-size: 30px;
    font-weight: 300;
    color:#3C2313 ;
    position: absolute;
    right: 210px;
    top: 260px;
}  
.bannerMain a {
    font-family:'Roboto', sans-serif; 
    font-size: 30px;
    font-weight: 300;
    background-color: #F0A83E;
    color:#ffffff;
    position: absolute;
    border-radius: 7px;
    width: 250px;
    height: 67px;
    right: 258px;
    top: 320px;
    padding-top: 15px;
    text-decoration: none;
}  
.containerProductos {
    text-align: center;
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 25px;
}
.containerProductos .imgDog {
    height: 100px;
}
.containerProductos h2{
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color:#3C2313 ; 
}
.containerProductos ul{
   display: inline;
}
.containerProductos li{
    font-family:'Roboto', sans-serif; 
    font-size: 20px;
    font-weight: lighter;
    color: #666666;
    display: inline;
    padding-left: 25px;
}
.containerProductos div {
    display: inline-block;
    border: 3px solid #3C2313;
    width: 310px;
    margin: 50px 20px;
    background-color: #FBFAF6;
    

}
.containerProductos .itemsNombre {
    font-family:'Roboto', sans-serif; 
    font-size: 20px;
    font-weight: 500;
    color: #3C2313;
    display: block;
}
.containerProductos .itemsPrecio {
    font-family:'Roboto', sans-serif; 
    font-size: 20px;
    font-weight: 500;
    color: #F0A83E;
    display: inline;
}
/*
Inicio Footer
*/
footer {
    position: relative;
    width: 100%;
    top: 180px;
}
.containerSuscripcion {
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: #F0A83E;
    margin-bottom: -5px;
    
}
footer .containerSuscripcion h2 {
    font-family:'Roboto', sans-serif; 
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    display: inline;
    position: absolute;
    left: 70px;
    top: 25.5px;
}
.containerSuscripcion img {
    position: relative;
    top: 31px;
    left: 15px;
}
footer .containerSuscripcion input {
    font-family:'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: lighter;
    border-radius: 15px;
    border: transparent;
    color: #ffffff;
    position: absolute;
    right: 200px;
    top: 14px;
    padding: 25px;
    width: 300px;
    height: 40px;
}
footer .containerSuscripcion button {
    background-color: #3C2313;
    font-family:'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: lighter;
    border-radius: 15px;
    border: transparent;
    color: #ffffff;
    position: absolute;
    right: 75px;
    top: 17px;
    width: 118px;
    height: 45px;
}
.containerContacto {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #3C2313;
}
.containerContacto .itemsContents {
    font-family:'Roboto', sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    list-style: none;
    left: 180px;
    top: 25px;
    width: 80%;
}
.containerContacto .itemsDiferentes {
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #8A8787;
    position: relative;
    list-style: none;
    left: 180px;
    top: 25px;
    width: 80%;
}
.containerContacto .logoFooter {
     position: absolute;
     display: inline;
     right: 100px;
     bottom: 100px;
     width: 300px;
     height: 40px;  
 }
 .containerContacto ul img {
     position: relative;
     left: 75px;
     bottom: 25px;
     width: 79px; 
 }
 footer p {
     font-family:'Roboto', sans-serif;
     font-size: 12px;
    font-weight: bold;
    color: #ffffff;
     background-color: #222222;
     text-align: center;
     padding: 5px;
 }